
/* Styling for the message input container */
#messageContainer {
    margin-bottom: 20px; /* Adjust margin as needed */
    display:flex;
    flex-direction: column;
}

/* Styling for the message input label */
label {
    display: block; /* Ensures each label is on its own line */
    margin-bottom: 5px; /* Adjust margin as needed */
    color: #333; /* Text color */
}

/* Styling for the message input */
#message {
    padding: 8px; /* Adjust padding as needed */
    width: 100%; /* Adjust width as needed */
    border: 1px solid #ccc; /* Border color */
    border-radius: 4px; /* Rounded corners */
    height: 200px;
    font-size: 17px;
    caret-color: initial;
    text-align: start;
    resize: none;

}
#button_charcount_group{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
/* Styling for the send message button */
#sendMessageBtn {
    padding: 8px 16px; /* Adjust padding as needed */
    background-color: #05094a; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    font-size: 17px;
    width:25%;
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-top: 10px;
}

/* Styling for the messages container */
#messages {
    margin-top: 20px; /* Adjust margin as needed */
}

/* Styling for individual messages */
.message {
    margin-bottom: 10px; /* Adjust margin as needed */
    padding: 10px; /* Adjust padding as needed */
    background-color: #f5f5f5; /* Message background color */
    border-radius: 4px; /* Rounded corners */
}
