body {
    margin: 0;
    font-family: Arial, sans-serif;
    /*min-height: 100vh; */
}
/*this is like initialization of each page*/
#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 100px 80px 80px 80px; /*top right bottom left*/
    /* Adjust based on nav height */
    padding: 20px;
}
nav {
    background-color:  #05094a;
    /*
    background: linear-gradient(to bottom, rgba(5, 9, 74, 0.6), rgba(5, 9, 74, 1)); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #333;
    box-shadow: rgba(47, 47, 107, 0.5) 10px 10px 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Ensure nav appears above other content */
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 8px 8px;
}

nav a:not(:last-child) {
    margin-right: 10px;
    /* Add margin between menu items */
}

nav a:hover {
    text-decoration: underline;
}
#user_email{
    background-color: #05094a;
    color: #fff;
    font-size: 15px;
    font-style: italic;
    padding: 10px 20px;
    margin: 8px 8px;
}

footer {
    background-color: #05094a;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    height: 100px;
    padding-top:10px;
}

